/Accurate_solution
/Куликовский_А_Г_,_Погорелов_Н_В_,_Семенов_А_Ю_Математические_вопросы.pdf
/Программа_для_точного_решения_задачи_Римана.zip
/С_К_Годунов_и_др_Чиссленное_решение_многомерных_задач_газовой_динамики.pdf